/* styles.css */

/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4; /* Light grey background */
}

/* Header Styles */
header {
    background-color: #333; /* Dark background for header */
    padding: 10px 0;
    color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px; /* Adjust as needed */
}

/* Main Content Styles */
main {
    padding: 20px 0;
}

h1 {
    font-size: 2em;
    color: #333;
}

.intro-text {
    font-size: 1.1em;
    color: #666;
}

.button-container {
    margin-top: 20px;
}

.project-button {
    background-color: #007bff; /* Bootstrap primary color */
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project-button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

/* Footer Styles */
footer {
    background-color: #333; /* Same as header */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
